$whiteColor: #ffffff;
$primaryColor: #1a5cff;
$successColor: #17c964;
$dangerColor: #f3125d;
$warningColor: #ff8200;
$darkColor: #242145;

$backgroundColor: #f0f7fe;

// https://learnui.design/tools/data-color-picker.html
// #003f5c
// #58508d
// #bc5090
// #ff6361
// #ffa600

// --vs-primary: 26,92,255;
//     --vs-theme-bg: #f4f7f8;
//     --vs-theme-color: #2c3e50;
//     --vs-theme-layout: #fff;
//     --vs-theme-bg2: #eef2f5;
//     --vs-theme-code: #3f3d56;
//     --vs-theme-code2: #363449;
// --vs-shadow-opacity: .05;
//     --vs-radius: 20px;
//     --vs-zindex-1: 100000;
//     --vs-zindex-2: 99000;
//     --vs-zindex-3: 98000;
//     --vs-zindex-4: 97000;
//     --vs-background-opacity: .2;
