@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

// $title-font: "Helvetica LT 65 Medium", Sans-Serif;
// $primary-font-family: "Helvetica LT 55 Roman", Sans-Serif;

$primary-font: "Poppins", Helvetica, sans-serif;

$font-h1: 40px;
$font-h2: 36px;
$font-h3: 32px;
$font-h4: 28px;
$font-h5: 22px;

$font-xl: 40px;
$font-l: 20px;
$font-r: 16px;
$font-m: 14px;
$font-sm: 12px;
$font-xs: 10px;

$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;
