# ============================== Common Files & Folder To ignore ==============================
.env**
.venv**
**.bak
*.log
**.sock
**.out
**.exe

# ============================== Python ==============================
**/__pycache__
#pyenv
.python-version
# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# ============================== Django ==============================
*.sqlite3
# Staticfiles
app/staticfiles/media/**
app/staticfiles/static/**
app/staticfiles/debug_log/**
#celery
celerybeat-schedule.*
# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
*.cover


# ============================== NODE ==============================
**/node_modules
# Hide react source code
**.map


# ============================== React ==============================
**/build
**/.pnp
**/.pnp.js
**/testing
**/coverage
**/production
**/misc


# ============================== VUE ==============================
.DS_Store
**/dist
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# ============================== Editor's ==============================
# Visual Studio Code
.vscode/
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.code-workspace
# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-shareaes
# If you are using PyCharm
.idea/
*.iws / out/
#Jupyter Notebook
.ipynb_checkpoints



# ============================== Flutter ==============================

# Custom
.gradle/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
